################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet_POO/.vs/Projet_POO/FileContentIndex
/Projet_POO/.vs/Projet_POO/v17
/.vs/Projet_POO/v17
